aside.sidebar {
    position: fixed;
    padding: 3.2rem 2.4rem; 
    background: linear-gradient(329.54deg, #cc231e 0%, #610606 100%);
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

/*=========================================
              Mobile Version
=========================================*/

@media (max-width: 780px) {
    aside.sidebar {
        width: 17%;
    }
}